<p><%= @resource.name.presence || @resource.email %> さん</p>

<p>Smoker Bankをご利用いただきありがとうございます。</p>

<p>以下のリンクから新しいパスワードを設定してください。</p>

<p>
  <%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>※このメールに心当たりがない場合は破棄してください。</p>

<p>――――――――――――――――――――――――<br>
Smoker Bank サポートチーム<br>
<a href="https://smoker-bank.onrender.com">https://smoker-bank.onrender.com</a>
</p>
